/EvenOrOddNumbers/nbproject/private/
/FP02_controlStatement/nbproject/private/
/FP02_controlStatement/build/
/Basic Operations/nbproject/private/
/workshops/unit 1/WS03operators/BasicOperations/nbproject/private/
/workshops/unit 1/WS03operators/BasicOperations/build/
/HW02/nbproject/private/
/HW02_01.1/nbproject/private/
/HW02_01.1/build/
/HW02_01.1.1/nbproject/private/
/HW02_01.1.1/build/
/FarmSimulator/nbproject/private/
/WS04-LogicalOperators/nbproject/private/
/WS04--LogicalOperators/nbproject/private/
/WS04--LogicalOperators/build/
/WS05lterations/nbproject/private/
/WS05lterations/build/
/Assignments/unit1/HW03Iterations/nbproject/private/
/Assignments/unit1/HW03Iterations/build/
/workshops/unit1/WS07Menus/nbproject/private/
/workshops/unit1/WS07Menus/build/
/Assignments/unit1/HW04Menus/nbproject/private/
/Assignments/unit1/HW04Menus/build/