/EvenOrOddNumbers/nbproject/private/
/FP02_controlStatement/nbproject/private/
/FP02_controlStatement/build/
/Basic Operations/nbproject/private/
/workshops/unit 1/WS03operators/BasicOperations/nbproject/private/
/workshops/unit 1/WS03operators/BasicOperations/build/
/HW02/nbproject/private/
/HW02_01.1/nbproject/private/
/HW02_01.1/build/
/HW02_01.1.1/nbproject/private/
/HW02_01.1.1/build/
/FarmSimulator/nbproject/private/
/WS04-LogicalOperators/nbproject/private/
/WS04--LogicalOperators/nbproject/private/
/WS04--LogicalOperators/build/
/WS05lterations/nbproject/private/
/WS05lterations/build/
/Assignments/unit1/HW03Iterations/nbproject/private/
/Assignments/unit1/HW03Iterations/build/
/workshops/unit1/WS07Menus/nbproject/private/
/workshops/unit1/WS07Menus/build/
/Assignments/unit1/HW04Menus/nbproject/private/
/Assignments/unit1/HW04Menus/build/
/Assignments/unit1/HW-04Menus/nbproject/private/
/Assignments/unit1/HW-04Menus/build/
/Exams/Unit1/question11/Question11/nbproject/private/
/Exams/Unit1/question11/Question11/build/
/Exams/Unit1/question11/Question111/nbproject/private/
/Exams/Unit1/question11/Question111/build/
/workshops/unit2/WS08debugging/nbproject/private/
/workshops/unit2/WS08debugging/build/
/Assignments/unit2/HW08-FactorialNumber/nbproject/private/
/Assignments/unit2/HW08-FactorialNumber/build/
/Assignments/unit2/HW09-EmbeddedStructures/nbproject/private/
/Assignments/unit2/HW09-EmbeddedStructures/build/
/workshops/unit2/WS10Functions/nbproject/private/
/workshops/unit2/WS10Functions/build/
/Assignments/unit2/HW10-Functions/nbproject/private/
/Assignments/unit2/HW10-Functions/build/
/Assignments/unit2/HW10F/nbproject/private/
/Assignments/unit2/HW10F/build/
/Assignments/unit2/HW101Functions/nbproject/private/
/Assignments/unit2/HW101Functions/build/
/Assignments/unit2/HW11Recursion/nbproject/private/
/Assignments/unit2/HW11Recursion/build/