/EvenOrOddNumbers/nbproject/private/
/FP02_controlStatement/nbproject/private/
/FP02_controlStatement/build/
/Basic Operations/nbproject/private/
/workshops/unit 1/WS03operators/BasicOperations/nbproject/private/
/workshops/unit 1/WS03operators/BasicOperations/build/